.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-header-box {
  color: #5097ec;
  background: #ffffff;
  
  /* Add a subtle shadow at the bottom */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

  /* Add margin spacing from next element */
  margin-bottom: 2em;
}

.main-header-box h1 {
  /* Ensure main header text is bold */
  font-weight: bold;

  /* Override default margins */
  margin: 0;

  /* Paddings from header-box */
  padding: 0.5em;
}