.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-header-box {
  color: #5097ec;
  background: #ffffff;
  
  /* Add a subtle shadow at the bottom */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

  /* Add margin spacing from next element */
  margin-bottom: 2em;
}

.main-header-box h1 {
  /* Override default margins */
  margin: 0;

  /* Paddings from header-box */
  padding: 0.5em;
}

.product-grid {
  /* By default, grid elements stack vertically. */
  /* We want a grid layout instead. */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  
  /* Add gap between grid elements */
  gap: 2em;

  margin: 0 100px;
}

.product-card {
  background: #fff;
  
  /* rounded-edges */
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);

  text-align: center;
}

.product-card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.product-card img {
  width: 100%;
}

.products-title {
  font-size: 1.7em;
  color: #282c34;

  margin: 1em 100px;
}